
@{
    ViewData["Title"] = "Palindroom";
}

<h1>Palindroom</h1>

@ViewBag.ingetiktwoord<text> is </text>
@if (ViewBag.palindroom)
{
    <text>een </text>
}
else 
{
    <text>geen </text>
}
palindroom.